<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    3d_rotation<mat-icon>3d_rotation</mat-icon>
    ac_unit<mat-icon>ac_unit</mat-icon>
    access_alarm<mat-icon>access_alarm</mat-icon>
    access_alarms<mat-icon>access_alarms</mat-icon>
    access_time<mat-icon>access_time</mat-icon>
    accessibility<mat-icon>accessibility</mat-icon>
    accessible<mat-icon>accessible</mat-icon>
    account_balance<mat-icon>account_balance</mat-icon>
    account_balance_wallet<mat-icon>account_balance_wallet</mat-icon>
    account_box<mat-icon>account_box</mat-icon>
    account_circle<mat-icon>account_circle</mat-icon>
    adb<mat-icon>adb</mat-icon>
    add<mat-icon>add</mat-icon>
    add_a_photo<mat-icon>add_a_photo</mat-icon>
    add_alarm<mat-icon>add_alarm</mat-icon>
    add_alert<mat-icon>add_alert</mat-icon>
    add_box<mat-icon>add_box</mat-icon>
    add_circle<mat-icon>add_circle</mat-icon>
    add_circle_outline<mat-icon>add_circle_outline</mat-icon>
    add_location<mat-icon>add_location</mat-icon>
    add_shopping_cart<mat-icon>add_shopping_cart</mat-icon>
    add_to_photos<mat-icon>add_to_photos</mat-icon>
    add_to_queue<mat-icon>add_to_queue</mat-icon>
    adjust<mat-icon>adjust</mat-icon>
    airline_seat_flat<mat-icon>airline_seat_flat</mat-icon>
    airline_seat_flat_angled<mat-icon>airline_seat_flat_angled</mat-icon>
    airline_seat_individual_suite<mat-icon>airline_seat_individual_suite</mat-icon>
    airline_seat_legroom_extra<mat-icon>airline_seat_legroom_extra</mat-icon>
    airline_seat_legroom_normal<mat-icon>airline_seat_legroom_normal</mat-icon>
    airline_seat_legroom_reduced<mat-icon>airline_seat_legroom_reduced</mat-icon>
    airline_seat_recline_extra<mat-icon>airline_seat_recline_extra</mat-icon>
    airline_seat_recline_normal<mat-icon>airline_seat_recline_normal</mat-icon>
    airplanemode_active<mat-icon>airplanemode_active</mat-icon>
    airplanemode_inactive<mat-icon>airplanemode_inactive</mat-icon>
    airplay<mat-icon>airplay</mat-icon>
    airport_shuttle<mat-icon>airport_shuttle</mat-icon>
    alarm<mat-icon>alarm</mat-icon>
    alarm_add<mat-icon>alarm_add</mat-icon>
    alarm_off<mat-icon>alarm_off</mat-icon>
    alarm_on<mat-icon>alarm_on</mat-icon>
    album<mat-icon>album</mat-icon>
    all_inclusive<mat-icon>all_inclusive</mat-icon>
    all_out<mat-icon>all_out</mat-icon>
    android<mat-icon>android</mat-icon>
    announcement<mat-icon>announcement</mat-icon>
    apps<mat-icon>apps</mat-icon>
    archive<mat-icon>archive</mat-icon>
    arrow_back<mat-icon>arrow_back</mat-icon>
    arrow_downward<mat-icon>arrow_downward</mat-icon>
    arrow_drop_down<mat-icon>arrow_drop_down</mat-icon>
    arrow_drop_down_circle<mat-icon>arrow_drop_down_circle</mat-icon>
    arrow_drop_up<mat-icon>arrow_drop_up</mat-icon>
    arrow_forward<mat-icon>arrow_forward</mat-icon>
    arrow_upward<mat-icon>arrow_upward</mat-icon>
    art_track<mat-icon>art_track</mat-icon>
    aspect_ratio<mat-icon>aspect_ratio</mat-icon>
    assessment<mat-icon>assessment</mat-icon>
    assignment<mat-icon>assignment</mat-icon>
    assignment_ind<mat-icon>assignment_ind</mat-icon>
    assignment_late<mat-icon>assignment_late</mat-icon>
    assignment_return<mat-icon>assignment_return</mat-icon>
    assignment_returned<mat-icon>assignment_returned</mat-icon>
    assignment_turned_in<mat-icon>assignment_turned_in</mat-icon>
    assistant<mat-icon>assistant</mat-icon>
    assistant_photo<mat-icon>assistant_photo</mat-icon>
    attach_file<mat-icon>attach_file</mat-icon>
    attach_money<mat-icon>attach_money</mat-icon>
    attachment<mat-icon>attachment</mat-icon>
    audiotrack<mat-icon>audiotrack</mat-icon>
    autorenew<mat-icon>autorenew</mat-icon>
    av_timer<mat-icon>av_timer</mat-icon>
    backspace<mat-icon>backspace</mat-icon>
    backup<mat-icon>backup</mat-icon>
    battery_alert<mat-icon>battery_alert</mat-icon>
    battery_charging_full<mat-icon>battery_charging_full</mat-icon>
    battery_full<mat-icon>battery_full</mat-icon>
    battery_std<mat-icon>battery_std</mat-icon>
    battery_unknown<mat-icon>battery_unknown</mat-icon>
    beach_access<mat-icon>beach_access</mat-icon>
    beenhere<mat-icon>beenhere</mat-icon>
    block<mat-icon>block</mat-icon>
    bluetooth<mat-icon>bluetooth</mat-icon>
    bluetooth_audio<mat-icon>bluetooth_audio</mat-icon>
    bluetooth_connected<mat-icon>bluetooth_connected</mat-icon>
    bluetooth_disabled<mat-icon>bluetooth_disabled</mat-icon>
    bluetooth_searching<mat-icon>bluetooth_searching</mat-icon>
    blur_circular<mat-icon>blur_circular</mat-icon>
    blur_linear<mat-icon>blur_linear</mat-icon>
    blur_off<mat-icon>blur_off</mat-icon>
    blur_on<mat-icon>blur_on</mat-icon>
    book<mat-icon>book</mat-icon>
    bookmark<mat-icon>bookmark</mat-icon>
    bookmark_border<mat-icon>bookmark_border</mat-icon>
    border_all<mat-icon>border_all</mat-icon>
    border_bottom<mat-icon>border_bottom</mat-icon>
    border_clear<mat-icon>border_clear</mat-icon>
    border_color<mat-icon>border_color</mat-icon>
    border_horizontal<mat-icon>border_horizontal</mat-icon>
    border_inner<mat-icon>border_inner</mat-icon>
    border_left<mat-icon>border_left</mat-icon>
    border_outer<mat-icon>border_outer</mat-icon>
    border_right<mat-icon>border_right</mat-icon>
    border_style<mat-icon>border_style</mat-icon>
    border_top<mat-icon>border_top</mat-icon>
    border_vertical<mat-icon>border_vertical</mat-icon>
    branding_watermark<mat-icon>branding_watermark</mat-icon>
    brightness_1<mat-icon>brightness_1</mat-icon>
    brightness_2<mat-icon>brightness_2</mat-icon>
    brightness_3<mat-icon>brightness_3</mat-icon>
    brightness_4<mat-icon>brightness_4</mat-icon>
    brightness_5<mat-icon>brightness_5</mat-icon>
    brightness_6<mat-icon>brightness_6</mat-icon>
    brightness_7<mat-icon>brightness_7</mat-icon>
    brightness_auto<mat-icon>brightness_auto</mat-icon>
    brightness_high<mat-icon>brightness_high</mat-icon>
    brightness_low<mat-icon>brightness_low</mat-icon>
    brightness_medium<mat-icon>brightness_medium</mat-icon>
    broken_image<mat-icon>broken_image</mat-icon>
    brush<mat-icon>brush</mat-icon>
    bubble_chart<mat-icon>bubble_chart</mat-icon>
    bug_report<mat-icon>bug_report</mat-icon>
    build<mat-icon>build</mat-icon>
    burst_mode<mat-icon>burst_mode</mat-icon>
    business<mat-icon>business</mat-icon>
    business_center<mat-icon>business_center</mat-icon>
    cached<mat-icon>cached</mat-icon>
    cake<mat-icon>cake</mat-icon>
    call<mat-icon>call</mat-icon>
    call_end<mat-icon>call_end</mat-icon>
    call_made<mat-icon>call_made</mat-icon>
    call_merge<mat-icon>call_merge</mat-icon>
    call_missed<mat-icon>call_missed</mat-icon>
    call_missed_outgoing<mat-icon>call_missed_outgoing</mat-icon>
    call_received<mat-icon>call_received</mat-icon>
    call_split<mat-icon>call_split</mat-icon>
    call_to_action<mat-icon>call_to_action</mat-icon>
    camera<mat-icon>camera</mat-icon>
    camera_alt<mat-icon>camera_alt</mat-icon>
    camera_enhance<mat-icon>camera_enhance</mat-icon>
    camera_front<mat-icon>camera_front</mat-icon>
    camera_rear<mat-icon>camera_rear</mat-icon>
    camera_roll<mat-icon>camera_roll</mat-icon>
    cancel<mat-icon>cancel</mat-icon>
    card_giftcard<mat-icon>card_giftcard</mat-icon>
    card_membership<mat-icon>card_membership</mat-icon>
    card_travel<mat-icon>card_travel</mat-icon>
    casino<mat-icon>casino</mat-icon>
    cast<mat-icon>cast</mat-icon>
    cast_connected<mat-icon>cast_connected</mat-icon>
    center_focus_strong<mat-icon>center_focus_strong</mat-icon>
    center_focus_weak<mat-icon>center_focus_weak</mat-icon>
    change_history<mat-icon>change_history</mat-icon>
    chat<mat-icon>chat</mat-icon>
    chat_bubble<mat-icon>chat_bubble</mat-icon>
    chat_bubble_outline<mat-icon>chat_bubble_outline</mat-icon>
    check<mat-icon>check</mat-icon>
    check_box<mat-icon>check_box</mat-icon>
    check_box_outline_blank<mat-icon>check_box_outline_blank</mat-icon>
    check_circle<mat-icon>check_circle</mat-icon>
    chevron_left<mat-icon>chevron_left</mat-icon>
    chevron_right<mat-icon>chevron_right</mat-icon>
    child_care<mat-icon>child_care</mat-icon>
    child_friendly<mat-icon>child_friendly</mat-icon>
    chrome_reader_mode<mat-icon>chrome_reader_mode</mat-icon>
    class<mat-icon>class</mat-icon>
    clear<mat-icon>clear</mat-icon>
    clear_all<mat-icon>clear_all</mat-icon>
    close<mat-icon>close</mat-icon>
    closed_caption<mat-icon>closed_caption</mat-icon>
    cloud<mat-icon>cloud</mat-icon>
    cloud_circle<mat-icon>cloud_circle</mat-icon>
    cloud_done<mat-icon>cloud_done</mat-icon>
    cloud_download<mat-icon>cloud_download</mat-icon>
    cloud_off<mat-icon>cloud_off</mat-icon>
    cloud_queue<mat-icon>cloud_queue</mat-icon>
    cloud_upload<mat-icon>cloud_upload</mat-icon>
    code<mat-icon>code</mat-icon>
    collections<mat-icon>collections</mat-icon>
    collections_bookmark<mat-icon>collections_bookmark</mat-icon>
    color_lens<mat-icon>color_lens</mat-icon>
    colorize<mat-icon>colorize</mat-icon>
    comment<mat-icon>comment</mat-icon>
    compare<mat-icon>compare</mat-icon>
    compare_arrows<mat-icon>compare_arrows</mat-icon>
    computer<mat-icon>computer</mat-icon>
    confirmation_number<mat-icon>confirmation_number</mat-icon>
    contact_mail<mat-icon>contact_mail</mat-icon>
    contact_phone<mat-icon>contact_phone</mat-icon>
    contacts<mat-icon>contacts</mat-icon>
    content_copy<mat-icon>content_copy</mat-icon>
    content_cut<mat-icon>content_cut</mat-icon>
    content_paste<mat-icon>content_paste</mat-icon>
    control_point<mat-icon>control_point</mat-icon>
    control_point_duplicate<mat-icon>control_point_duplicate</mat-icon>
    copyright<mat-icon>copyright</mat-icon>
    create<mat-icon>create</mat-icon>
    create_new_folder<mat-icon>create_new_folder</mat-icon>
    credit_card<mat-icon>credit_card</mat-icon>
    crop<mat-icon>crop</mat-icon>
    crop_16_9<mat-icon>crop_16_9</mat-icon>
    crop_3_2<mat-icon>crop_3_2</mat-icon>
    crop_5_4<mat-icon>crop_5_4</mat-icon>
    crop_7_5<mat-icon>crop_7_5</mat-icon>
    crop_din<mat-icon>crop_din</mat-icon>
    crop_free<mat-icon>crop_free</mat-icon>
    crop_landscape<mat-icon>crop_landscape</mat-icon>
    crop_original<mat-icon>crop_original</mat-icon>
    crop_portrait<mat-icon>crop_portrait</mat-icon>
    crop_rotate<mat-icon>crop_rotate</mat-icon>
    crop_square<mat-icon>crop_square</mat-icon>
    dashboard<mat-icon>dashboard</mat-icon>
    data_usage<mat-icon>data_usage</mat-icon>
    date_range<mat-icon>date_range</mat-icon>
    dehaze<mat-icon>dehaze</mat-icon>
    delete<mat-icon>delete</mat-icon>
    delete_forever<mat-icon>delete_forever</mat-icon>
    delete_sweep<mat-icon>delete_sweep</mat-icon>
    description<mat-icon>description</mat-icon>
    desktop_mac<mat-icon>desktop_mac</mat-icon>
    desktop_windows<mat-icon>desktop_windows</mat-icon>
    details<mat-icon>details</mat-icon>
    developer_board<mat-icon>developer_board</mat-icon>
    developer_mode<mat-icon>developer_mode</mat-icon>
    device_hub<mat-icon>device_hub</mat-icon>
    devices<mat-icon>devices</mat-icon>
    devices_other<mat-icon>devices_other</mat-icon>
    dialer_sip<mat-icon>dialer_sip</mat-icon>
    dialpad<mat-icon>dialpad</mat-icon>
    directions<mat-icon>directions</mat-icon>
    directions_bike<mat-icon>directions_bike</mat-icon>
    directions_boat<mat-icon>directions_boat</mat-icon>
    directions_bus<mat-icon>directions_bus</mat-icon>
    directions_car<mat-icon>directions_car</mat-icon>
    directions_railway<mat-icon>directions_railway</mat-icon>
    directions_run<mat-icon>directions_run</mat-icon>
    directions_subway<mat-icon>directions_subway</mat-icon>
    directions_transit<mat-icon>directions_transit</mat-icon>
    directions_walk<mat-icon>directions_walk</mat-icon>
    disc_full<mat-icon>disc_full</mat-icon>
    dns<mat-icon>dns</mat-icon>
    do_not_disturb<mat-icon>do_not_disturb</mat-icon>
    do_not_disturb_alt<mat-icon>do_not_disturb_alt</mat-icon>
    do_not_disturb_off<mat-icon>do_not_disturb_off</mat-icon>
    do_not_disturb_on<mat-icon>do_not_disturb_on</mat-icon>
    dock<mat-icon>dock</mat-icon>
    domain<mat-icon>domain</mat-icon>
    done<mat-icon>done</mat-icon>
    done_all<mat-icon>done_all</mat-icon>
    donut_large<mat-icon>donut_large</mat-icon>
    donut_small<mat-icon>donut_small</mat-icon>
    drafts<mat-icon>drafts</mat-icon>
    drag_handle<mat-icon>drag_handle</mat-icon>
    drive_eta<mat-icon>drive_eta</mat-icon>
    dvr<mat-icon>dvr</mat-icon>
    edit<mat-icon>edit</mat-icon>
    edit_location<mat-icon>edit_location</mat-icon>
    eject<mat-icon>eject</mat-icon>
    email<mat-icon>email</mat-icon>
    enhanced_encryption<mat-icon>enhanced_encryption</mat-icon>
    equalizer<mat-icon>equalizer</mat-icon>
    error<mat-icon>error</mat-icon>
    error_outline<mat-icon>error_outline</mat-icon>
    euro_symbol<mat-icon>euro_symbol</mat-icon>
    ev_station<mat-icon>ev_station</mat-icon>
    event<mat-icon>event</mat-icon>
    event_available<mat-icon>event_available</mat-icon>
    event_busy<mat-icon>event_busy</mat-icon>
    event_note<mat-icon>event_note</mat-icon>
    event_seat<mat-icon>event_seat</mat-icon>
    exit_to_app<mat-icon>exit_to_app</mat-icon>
    expand_less<mat-icon>expand_less</mat-icon>
    expand_more<mat-icon>expand_more</mat-icon>
    explicit<mat-icon>explicit</mat-icon>
    explore<mat-icon>explore</mat-icon>
    exposure<mat-icon>exposure</mat-icon>
    exposure_neg_1<mat-icon>exposure_neg_1</mat-icon>
    exposure_neg_2<mat-icon>exposure_neg_2</mat-icon>
    exposure_plus_1<mat-icon>exposure_plus_1</mat-icon>
    exposure_plus_2<mat-icon>exposure_plus_2</mat-icon>
    exposure_zero<mat-icon>exposure_zero</mat-icon>
    extension<mat-icon>extension</mat-icon>
    face<mat-icon>face</mat-icon>
    fast_forward<mat-icon>fast_forward</mat-icon>
    fast_rewind<mat-icon>fast_rewind</mat-icon>
    favorite<mat-icon>favorite</mat-icon>
    favorite_border<mat-icon>favorite_border</mat-icon>
    featured_play_list<mat-icon>featured_play_list</mat-icon>
    featured_video<mat-icon>featured_video</mat-icon>
    feedback<mat-icon>feedback</mat-icon>
    fiber_dvr<mat-icon>fiber_dvr</mat-icon>
    fiber_manual_record<mat-icon>fiber_manual_record</mat-icon>
    fiber_new<mat-icon>fiber_new</mat-icon>
    fiber_pin<mat-icon>fiber_pin</mat-icon>
    fiber_smart_record<mat-icon>fiber_smart_record</mat-icon>
    file_download<mat-icon>file_download</mat-icon>
    file_upload<mat-icon>file_upload</mat-icon>
    filter<mat-icon>filter</mat-icon>
    filter_1<mat-icon>filter_1</mat-icon>
    filter_2<mat-icon>filter_2</mat-icon>
    filter_3<mat-icon>filter_3</mat-icon>
    filter_4<mat-icon>filter_4</mat-icon>
    filter_5<mat-icon>filter_5</mat-icon>
    filter_6<mat-icon>filter_6</mat-icon>
    filter_7<mat-icon>filter_7</mat-icon>
    filter_8<mat-icon>filter_8</mat-icon>
    filter_9<mat-icon>filter_9</mat-icon>
    filter_9_plus<mat-icon>filter_9_plus</mat-icon>
    filter_b_and_w<mat-icon>filter_b_and_w</mat-icon>
    filter_center_focus<mat-icon>filter_center_focus</mat-icon>
    filter_drama<mat-icon>filter_drama</mat-icon>
    filter_frames<mat-icon>filter_frames</mat-icon>
    filter_hdr<mat-icon>filter_hdr</mat-icon>
    filter_list<mat-icon>filter_list</mat-icon>
    filter_none<mat-icon>filter_none</mat-icon>
    filter_tilt_shift<mat-icon>filter_tilt_shift</mat-icon>
    filter_vintage<mat-icon>filter_vintage</mat-icon>
    find_in_page<mat-icon>find_in_page</mat-icon>
    find_replace<mat-icon>find_replace</mat-icon>
    fingerprint<mat-icon>fingerprint</mat-icon>
    first_page<mat-icon>first_page</mat-icon>
    fitness_center<mat-icon>fitness_center</mat-icon>
    flag<mat-icon>flag</mat-icon>
    flare<mat-icon>flare</mat-icon>
    flash_auto<mat-icon>flash_auto</mat-icon>
    flash_off<mat-icon>flash_off</mat-icon>
    flash_on<mat-icon>flash_on</mat-icon>
    flight<mat-icon>flight</mat-icon>
    flight_land<mat-icon>flight_land</mat-icon>
    flight_takeoff<mat-icon>flight_takeoff</mat-icon>
    flip<mat-icon>flip</mat-icon>
    flip_to_back<mat-icon>flip_to_back</mat-icon>
    flip_to_front<mat-icon>flip_to_front</mat-icon>
    folder<mat-icon>folder</mat-icon>
    folder_open<mat-icon>folder_open</mat-icon>
    folder_shared<mat-icon>folder_shared</mat-icon>
    folder_special<mat-icon>folder_special</mat-icon>
    font_download<mat-icon>font_download</mat-icon>
    format_align_center<mat-icon>format_align_center</mat-icon>
    format_align_justify<mat-icon>format_align_justify</mat-icon>
    format_align_left<mat-icon>format_align_left</mat-icon>
    format_align_right<mat-icon>format_align_right</mat-icon>
    format_bold<mat-icon>format_bold</mat-icon>
    format_clear<mat-icon>format_clear</mat-icon>
    format_color_fill<mat-icon>format_color_fill</mat-icon>
    format_color_reset<mat-icon>format_color_reset</mat-icon>
    format_color_text<mat-icon>format_color_text</mat-icon>
    format_indent_decrease<mat-icon>format_indent_decrease</mat-icon>
    format_indent_increase<mat-icon>format_indent_increase</mat-icon>
    format_italic<mat-icon>format_italic</mat-icon>
    format_line_spacing<mat-icon>format_line_spacing</mat-icon>
    format_list_bulleted<mat-icon>format_list_bulleted</mat-icon>
    format_list_numbered<mat-icon>format_list_numbered</mat-icon>
    format_paint<mat-icon>format_paint</mat-icon>
    format_quote<mat-icon>format_quote</mat-icon>
    format_shapes<mat-icon>format_shapes</mat-icon>
    format_size<mat-icon>format_size</mat-icon>
    format_strikethrough<mat-icon>format_strikethrough</mat-icon>
    format_textdirection_l_to_r<mat-icon>format_textdirection_l_to_r</mat-icon>
    format_textdirection_r_to_l<mat-icon>format_textdirection_r_to_l</mat-icon>
    format_underlined<mat-icon>format_underlined</mat-icon>
    forum<mat-icon>forum</mat-icon>
    forward<mat-icon>forward</mat-icon>
    forward_10<mat-icon>forward_10</mat-icon>
    forward_30<mat-icon>forward_30</mat-icon>
    forward_5<mat-icon>forward_5</mat-icon>
    free_breakfast<mat-icon>free_breakfast</mat-icon>
    fullscreen<mat-icon>fullscreen</mat-icon>
    fullscreen_exit<mat-icon>fullscreen_exit</mat-icon>
    functions<mat-icon>functions</mat-icon>
    g_translate<mat-icon>g_translate</mat-icon>
    gamepad<mat-icon>gamepad</mat-icon>
    games<mat-icon>games</mat-icon>
    gavel<mat-icon>gavel</mat-icon>
    gesture<mat-icon>gesture</mat-icon>
    get_app<mat-icon>get_app</mat-icon>
    gif<mat-icon>gif</mat-icon>
    golf_course<mat-icon>golf_course</mat-icon>
    gps_fixed<mat-icon>gps_fixed</mat-icon>
    gps_not_fixed<mat-icon>gps_not_fixed</mat-icon>
    gps_off<mat-icon>gps_off</mat-icon>
    grade<mat-icon>grade</mat-icon>
    gradient<mat-icon>gradient</mat-icon>
    grain<mat-icon>grain</mat-icon>
    graphic_eq<mat-icon>graphic_eq</mat-icon>
    grid_off<mat-icon>grid_off</mat-icon>
    grid_on<mat-icon>grid_on</mat-icon>
    group<mat-icon>group</mat-icon>
    group_add<mat-icon>group_add</mat-icon>
    group_work<mat-icon>group_work</mat-icon>
    hd<mat-icon>hd</mat-icon>
    hdr_off<mat-icon>hdr_off</mat-icon>
    hdr_on<mat-icon>hdr_on</mat-icon>
    hdr_strong<mat-icon>hdr_strong</mat-icon>
    hdr_weak<mat-icon>hdr_weak</mat-icon>
    headset<mat-icon>headset</mat-icon>
    headset_mic<mat-icon>headset_mic</mat-icon>
    healing<mat-icon>healing</mat-icon>
    hearing<mat-icon>hearing</mat-icon>
    help<mat-icon>help</mat-icon>
    help_outline<mat-icon>help_outline</mat-icon>
    high_quality<mat-icon>high_quality</mat-icon>
    highlight<mat-icon>highlight</mat-icon>
    highlight_off<mat-icon>highlight_off</mat-icon>
    history<mat-icon>history</mat-icon>
    home<mat-icon>home</mat-icon>
    hot_tub<mat-icon>hot_tub</mat-icon>
    hotel<mat-icon>hotel</mat-icon>
    hourglass_empty<mat-icon>hourglass_empty</mat-icon>
    hourglass_full<mat-icon>hourglass_full</mat-icon>
    http<mat-icon>http</mat-icon>
    https<mat-icon>https</mat-icon>
    image<mat-icon>image</mat-icon>
    image_aspect_ratio<mat-icon>image_aspect_ratio</mat-icon>
    import_contacts<mat-icon>import_contacts</mat-icon>
    import_export<mat-icon>import_export</mat-icon>
    important_devices<mat-icon>important_devices</mat-icon>
    inbox<mat-icon>inbox</mat-icon>
    indeterminate_check_box<mat-icon>indeterminate_check_box</mat-icon>
    info<mat-icon>info</mat-icon>
    info_outline<mat-icon>info_outline</mat-icon>
    input<mat-icon>input</mat-icon>
    insert_chart<mat-icon>insert_chart</mat-icon>
    insert_comment<mat-icon>insert_comment</mat-icon>
    insert_drive_file<mat-icon>insert_drive_file</mat-icon>
    insert_emoticon<mat-icon>insert_emoticon</mat-icon>
    insert_invitation<mat-icon>insert_invitation</mat-icon>
    insert_link<mat-icon>insert_link</mat-icon>
    insert_photo<mat-icon>insert_photo</mat-icon>
    invert_colors<mat-icon>invert_colors</mat-icon>
    invert_colors_off<mat-icon>invert_colors_off</mat-icon>
    iso<mat-icon>iso</mat-icon>
    keyboard<mat-icon>keyboard</mat-icon>
    keyboard_arrow_down<mat-icon>keyboard_arrow_down</mat-icon>
    keyboard_arrow_left<mat-icon>keyboard_arrow_left</mat-icon>
    keyboard_arrow_right<mat-icon>keyboard_arrow_right</mat-icon>
    keyboard_arrow_up<mat-icon>keyboard_arrow_up</mat-icon>
    keyboard_backspace<mat-icon>keyboard_backspace</mat-icon>
    keyboard_capslock<mat-icon>keyboard_capslock</mat-icon>
    keyboard_hide<mat-icon>keyboard_hide</mat-icon>
    keyboard_return<mat-icon>keyboard_return</mat-icon>
    keyboard_tab<mat-icon>keyboard_tab</mat-icon>
    keyboard_voice<mat-icon>keyboard_voice</mat-icon>
    kitchen<mat-icon>kitchen</mat-icon>
    label<mat-icon>label</mat-icon>
    label_outline<mat-icon>label_outline</mat-icon>
    landscape<mat-icon>landscape</mat-icon>
    language<mat-icon>language</mat-icon>
    laptop<mat-icon>laptop</mat-icon>
    laptop_chromebook<mat-icon>laptop_chromebook</mat-icon>
    laptop_mac<mat-icon>laptop_mac</mat-icon>
    laptop_windows<mat-icon>laptop_windows</mat-icon>
    last_page<mat-icon>last_page</mat-icon>
    launch<mat-icon>launch</mat-icon>
    layers<mat-icon>layers</mat-icon>
    layers_clear<mat-icon>layers_clear</mat-icon>
    leak_add<mat-icon>leak_add</mat-icon>
    leak_remove<mat-icon>leak_remove</mat-icon>
    lens<mat-icon>lens</mat-icon>
    library_add<mat-icon>library_add</mat-icon>
    library_books<mat-icon>library_books</mat-icon>
    library_music<mat-icon>library_music</mat-icon>
    lightbulb_outline<mat-icon>lightbulb_outline</mat-icon>
    line_style<mat-icon>line_style</mat-icon>
    line_weight<mat-icon>line_weight</mat-icon>
    linear_scale<mat-icon>linear_scale</mat-icon>
    link<mat-icon>link</mat-icon>
    linked_camera<mat-icon>linked_camera</mat-icon>
    list<mat-icon>list</mat-icon>
    live_help<mat-icon>live_help</mat-icon>
    live_tv<mat-icon>live_tv</mat-icon>
    local_activity<mat-icon>local_activity</mat-icon>
    local_airport<mat-icon>local_airport</mat-icon>
    local_atm<mat-icon>local_atm</mat-icon>
    local_bar<mat-icon>local_bar</mat-icon>
    local_cafe<mat-icon>local_cafe</mat-icon>
    local_car_wash<mat-icon>local_car_wash</mat-icon>
    local_convenience_store<mat-icon>local_convenience_store</mat-icon>
    local_dining<mat-icon>local_dining</mat-icon>
    local_drink<mat-icon>local_drink</mat-icon>
    local_florist<mat-icon>local_florist</mat-icon>
    local_gas_station<mat-icon>local_gas_station</mat-icon>
    local_grocery_store<mat-icon>local_grocery_store</mat-icon>
    local_hospital<mat-icon>local_hospital</mat-icon>
    local_hotel<mat-icon>local_hotel</mat-icon>
    local_laundry_service<mat-icon>local_laundry_service</mat-icon>
    local_library<mat-icon>local_library</mat-icon>
    local_mall<mat-icon>local_mall</mat-icon>
    local_movies<mat-icon>local_movies</mat-icon>
    local_offer<mat-icon>local_offer</mat-icon>
    local_parking<mat-icon>local_parking</mat-icon>
    local_pharmacy<mat-icon>local_pharmacy</mat-icon>
    local_phone<mat-icon>local_phone</mat-icon>
    local_pizza<mat-icon>local_pizza</mat-icon>
    local_play<mat-icon>local_play</mat-icon>
    local_post_office<mat-icon>local_post_office</mat-icon>
    local_printshop<mat-icon>local_printshop</mat-icon>
    local_see<mat-icon>local_see</mat-icon>
    local_shipping<mat-icon>local_shipping</mat-icon>
    local_taxi<mat-icon>local_taxi</mat-icon>
    location_city<mat-icon>location_city</mat-icon>
    location_disabled<mat-icon>location_disabled</mat-icon>
    location_off<mat-icon>location_off</mat-icon>
    location_on<mat-icon>location_on</mat-icon>
    location_searching<mat-icon>location_searching</mat-icon>
    lock<mat-icon>lock</mat-icon>
    lock_open<mat-icon>lock_open</mat-icon>
    lock_outline<mat-icon>lock_outline</mat-icon>
    looks<mat-icon>looks</mat-icon>
    looks_3<mat-icon>looks_3</mat-icon>
    looks_4<mat-icon>looks_4</mat-icon>
    looks_5<mat-icon>looks_5</mat-icon>
    looks_6<mat-icon>looks_6</mat-icon>
    looks_one<mat-icon>looks_one</mat-icon>
    looks_two<mat-icon>looks_two</mat-icon>
    loop<mat-icon>loop</mat-icon>
    loupe<mat-icon>loupe</mat-icon>
    low_priority<mat-icon>low_priority</mat-icon>
    loyalty<mat-icon>loyalty</mat-icon>
    mail<mat-icon>mail</mat-icon>
    mail_outline<mat-icon>mail_outline</mat-icon>
    map<mat-icon>map</mat-icon>
    markunread<mat-icon>markunread</mat-icon>
    markunread_mailbox<mat-icon>markunread_mailbox</mat-icon>
    memory<mat-icon>memory</mat-icon>
    menu<mat-icon>menu</mat-icon>
    merge_type<mat-icon>merge_type</mat-icon>
    message<mat-icon>message</mat-icon>
    mic<mat-icon>mic</mat-icon>
    mic_none<mat-icon>mic_none</mat-icon>
    mic_off<mat-icon>mic_off</mat-icon>
    mms<mat-icon>mms</mat-icon>
    mode_comment<mat-icon>mode_comment</mat-icon>
    mode_edit<mat-icon>mode_edit</mat-icon>
    monetization_on<mat-icon>monetization_on</mat-icon>
    money_off<mat-icon>money_off</mat-icon>
    monochrome_photos<mat-icon>monochrome_photos</mat-icon>
    mood<mat-icon>mood</mat-icon>
    mood_bad<mat-icon>mood_bad</mat-icon>
    more<mat-icon>more</mat-icon>
    more_horiz<mat-icon>more_horiz</mat-icon>
    more_vert<mat-icon>more_vert</mat-icon>
    motorcycle<mat-icon>motorcycle</mat-icon>
    mouse<mat-icon>mouse</mat-icon>
    move_to_inbox<mat-icon>move_to_inbox</mat-icon>
    movie<mat-icon>movie</mat-icon>
    movie_creation<mat-icon>movie_creation</mat-icon>
    movie_filter<mat-icon>movie_filter</mat-icon>
    multiline_chart<mat-icon>multiline_chart</mat-icon>
    music_note<mat-icon>music_note</mat-icon>
    music_video<mat-icon>music_video</mat-icon>
    my_location<mat-icon>my_location</mat-icon>
    nature<mat-icon>nature</mat-icon>
    nature_people<mat-icon>nature_people</mat-icon>
    navigate_before<mat-icon>navigate_before</mat-icon>
    navigate_next<mat-icon>navigate_next</mat-icon>
    navigation<mat-icon>navigation</mat-icon>
    near_me<mat-icon>near_me</mat-icon>
    network_cell<mat-icon>network_cell</mat-icon>
    network_check<mat-icon>network_check</mat-icon>
    network_locked<mat-icon>network_locked</mat-icon>
    network_wifi<mat-icon>network_wifi</mat-icon>
    new_releases<mat-icon>new_releases</mat-icon>
    next_week<mat-icon>next_week</mat-icon>
    nfc<mat-icon>nfc</mat-icon>
    no_encryption<mat-icon>no_encryption</mat-icon>
    no_sim<mat-icon>no_sim</mat-icon>
    not_interested<mat-icon>not_interested</mat-icon>
    note<mat-icon>note</mat-icon>
    note_add<mat-icon>note_add</mat-icon>
    notifications<mat-icon>notifications</mat-icon>
    notifications_active<mat-icon>notifications_active</mat-icon>
    notifications_none<mat-icon>notifications_none</mat-icon>
    notifications_off<mat-icon>notifications_off</mat-icon>
    notifications_paused<mat-icon>notifications_paused</mat-icon>
    offline_pin<mat-icon>offline_pin</mat-icon>
    ondemand_video<mat-icon>ondemand_video</mat-icon>
    opacity<mat-icon>opacity</mat-icon>
    open_in_browser<mat-icon>open_in_browser</mat-icon>
    open_in_new<mat-icon>open_in_new</mat-icon>
    open_with<mat-icon>open_with</mat-icon>
    pages<mat-icon>pages</mat-icon>
    pageview<mat-icon>pageview</mat-icon>
    palette<mat-icon>palette</mat-icon>
    pan_tool<mat-icon>pan_tool</mat-icon>
    panorama<mat-icon>panorama</mat-icon>
    panorama_fish_eye<mat-icon>panorama_fish_eye</mat-icon>
    panorama_horizontal<mat-icon>panorama_horizontal</mat-icon>
    panorama_vertical<mat-icon>panorama_vertical</mat-icon>
    panorama_wide_angle<mat-icon>panorama_wide_angle</mat-icon>
    party_mode<mat-icon>party_mode</mat-icon>
    pause<mat-icon>pause</mat-icon>
    pause_circle_filled<mat-icon>pause_circle_filled</mat-icon>
    pause_circle_outline<mat-icon>pause_circle_outline</mat-icon>
    payment<mat-icon>payment</mat-icon>
    people<mat-icon>people</mat-icon>
    people_outline<mat-icon>people_outline</mat-icon>
    perm_camera_mic<mat-icon>perm_camera_mic</mat-icon>
    perm_contact_calendar<mat-icon>perm_contact_calendar</mat-icon>
    perm_data_setting<mat-icon>perm_data_setting</mat-icon>
    perm_device_information<mat-icon>perm_device_information</mat-icon>
    perm_identity<mat-icon>perm_identity</mat-icon>
    perm_media<mat-icon>perm_media</mat-icon>
    perm_phone_msg<mat-icon>perm_phone_msg</mat-icon>
    perm_scan_wifi<mat-icon>perm_scan_wifi</mat-icon>
    person<mat-icon>person</mat-icon>
    person_add<mat-icon>person_add</mat-icon>
    person_outline<mat-icon>person_outline</mat-icon>
    person_pin<mat-icon>person_pin</mat-icon>
    person_pin_circle<mat-icon>person_pin_circle</mat-icon>
    personal_video<mat-icon>personal_video</mat-icon>
    pets<mat-icon>pets</mat-icon>
    phone<mat-icon>phone</mat-icon>
    phone_android<mat-icon>phone_android</mat-icon>
    phone_bluetooth_speaker<mat-icon>phone_bluetooth_speaker</mat-icon>
    phone_forwarded<mat-icon>phone_forwarded</mat-icon>
    phone_in_talk<mat-icon>phone_in_talk</mat-icon>
    phone_iphone<mat-icon>phone_iphone</mat-icon>
    phone_locked<mat-icon>phone_locked</mat-icon>
    phone_missed<mat-icon>phone_missed</mat-icon>
    phone_paused<mat-icon>phone_paused</mat-icon>
    phonelink<mat-icon>phonelink</mat-icon>
    phonelink_erase<mat-icon>phonelink_erase</mat-icon>
    phonelink_lock<mat-icon>phonelink_lock</mat-icon>
    phonelink_off<mat-icon>phonelink_off</mat-icon>
    phonelink_ring<mat-icon>phonelink_ring</mat-icon>
    phonelink_setup<mat-icon>phonelink_setup</mat-icon>
    photo<mat-icon>photo</mat-icon>
    photo_album<mat-icon>photo_album</mat-icon>
    photo_camera<mat-icon>photo_camera</mat-icon>
    photo_filter<mat-icon>photo_filter</mat-icon>
    photo_library<mat-icon>photo_library</mat-icon>
    photo_size_select_actual<mat-icon>photo_size_select_actual</mat-icon>
    photo_size_select_large<mat-icon>photo_size_select_large</mat-icon>
    photo_size_select_small<mat-icon>photo_size_select_small</mat-icon>
    picture_as_pdf<mat-icon>picture_as_pdf</mat-icon>
    picture_in_picture<mat-icon>picture_in_picture</mat-icon>
    picture_in_picture_alt<mat-icon>picture_in_picture_alt</mat-icon>
    pie_chart<mat-icon>pie_chart</mat-icon>
    pie_chart_outlined<mat-icon>pie_chart_outlined</mat-icon>
    pin_drop<mat-icon>pin_drop</mat-icon>
    place<mat-icon>place</mat-icon>
    play_arrow<mat-icon>play_arrow</mat-icon>
    play_circle_filled<mat-icon>play_circle_filled</mat-icon>
    play_circle_outline<mat-icon>play_circle_outline</mat-icon>
    play_for_work<mat-icon>play_for_work</mat-icon>
    playlist_add<mat-icon>playlist_add</mat-icon>
    playlist_add_check<mat-icon>playlist_add_check</mat-icon>
    playlist_play<mat-icon>playlist_play</mat-icon>
    plus_one<mat-icon>plus_one</mat-icon>
    poll<mat-icon>poll</mat-icon>
    polymer<mat-icon>polymer</mat-icon>
    pool<mat-icon>pool</mat-icon>
    portable_wifi_off<mat-icon>portable_wifi_off</mat-icon>
    portrait<mat-icon>portrait</mat-icon>
    power<mat-icon>power</mat-icon>
    power_input<mat-icon>power_input</mat-icon>
    power_settings_new<mat-icon>power_settings_new</mat-icon>
    pregnant_woman<mat-icon>pregnant_woman</mat-icon>
    present_to_all<mat-icon>present_to_all</mat-icon>
    print<mat-icon>print</mat-icon>
    priority_high<mat-icon>priority_high</mat-icon>
    public<mat-icon>public</mat-icon>
    publish<mat-icon>publish</mat-icon>
    query_builder<mat-icon>query_builder</mat-icon>
    question_answer<mat-icon>question_answer</mat-icon>
    queue<mat-icon>queue</mat-icon>
    queue_music<mat-icon>queue_music</mat-icon>
    queue_play_next<mat-icon>queue_play_next</mat-icon>
    radio<mat-icon>radio</mat-icon>
    radio_button_checked<mat-icon>radio_button_checked</mat-icon>
    radio_button_unchecked<mat-icon>radio_button_unchecked</mat-icon>
    rate_review<mat-icon>rate_review</mat-icon>
    receipt<mat-icon>receipt</mat-icon>
    recent_actors<mat-icon>recent_actors</mat-icon>
    record_voice_over<mat-icon>record_voice_over</mat-icon>
    redeem<mat-icon>redeem</mat-icon>
    redo<mat-icon>redo</mat-icon>
    refresh<mat-icon>refresh</mat-icon>
    remove<mat-icon>remove</mat-icon>
    remove_circle<mat-icon>remove_circle</mat-icon>
    remove_circle_outline<mat-icon>remove_circle_outline</mat-icon>
    remove_from_queue<mat-icon>remove_from_queue</mat-icon>
    remove_red_eye<mat-icon>remove_red_eye</mat-icon>
    remove_shopping_cart<mat-icon>remove_shopping_cart</mat-icon>
    reorder<mat-icon>reorder</mat-icon>
    repeat<mat-icon>repeat</mat-icon>
    repeat_one<mat-icon>repeat_one</mat-icon>
    replay<mat-icon>replay</mat-icon>
    replay_10<mat-icon>replay_10</mat-icon>
    replay_30<mat-icon>replay_30</mat-icon>
    replay_5<mat-icon>replay_5</mat-icon>
    reply<mat-icon>reply</mat-icon>
    reply_all<mat-icon>reply_all</mat-icon>
    report<mat-icon>report</mat-icon>
    report_problem<mat-icon>report_problem</mat-icon>
    restaurant<mat-icon>restaurant</mat-icon>
    restaurant_menu<mat-icon>restaurant_menu</mat-icon>
    restore<mat-icon>restore</mat-icon>
    restore_page<mat-icon>restore_page</mat-icon>
    ring_volume<mat-icon>ring_volume</mat-icon>
    room<mat-icon>room</mat-icon>
    room_service<mat-icon>room_service</mat-icon>
    rotate_90_degrees_ccw<mat-icon>rotate_90_degrees_ccw</mat-icon>
    rotate_left<mat-icon>rotate_left</mat-icon>
    rotate_right<mat-icon>rotate_right</mat-icon>
    rounded_corner<mat-icon>rounded_corner</mat-icon>
    router<mat-icon>router</mat-icon>
    rowing<mat-icon>rowing</mat-icon>
    rss_feed<mat-icon>rss_feed</mat-icon>
    rv_hookup<mat-icon>rv_hookup</mat-icon>
    satellite<mat-icon>satellite</mat-icon>
    save<mat-icon>save</mat-icon>
    scanner<mat-icon>scanner</mat-icon>
    schedule<mat-icon>schedule</mat-icon>
    school<mat-icon>school</mat-icon>
    screen_lock_landscape<mat-icon>screen_lock_landscape</mat-icon>
    screen_lock_portrait<mat-icon>screen_lock_portrait</mat-icon>
    screen_lock_rotation<mat-icon>screen_lock_rotation</mat-icon>
    screen_rotation<mat-icon>screen_rotation</mat-icon>
    screen_share<mat-icon>screen_share</mat-icon>
    sd_card<mat-icon>sd_card</mat-icon>
    sd_storage<mat-icon>sd_storage</mat-icon>
    search<mat-icon>search</mat-icon>
    security<mat-icon>security</mat-icon>
    select_all<mat-icon>select_all</mat-icon>
    send<mat-icon>send</mat-icon>
    sentiment_dissatisfied<mat-icon>sentiment_dissatisfied</mat-icon>
    sentiment_neutral<mat-icon>sentiment_neutral</mat-icon>
    sentiment_satisfied<mat-icon>sentiment_satisfied</mat-icon>
    sentiment_very_dissatisfied<mat-icon>sentiment_very_dissatisfied</mat-icon>
    sentiment_very_satisfied<mat-icon>sentiment_very_satisfied</mat-icon>
    settings<mat-icon>settings</mat-icon>
    settings_applications<mat-icon>settings_applications</mat-icon>
    settings_backup_restore<mat-icon>settings_backup_restore</mat-icon>
    settings_bluetooth<mat-icon>settings_bluetooth</mat-icon>
    settings_brightness<mat-icon>settings_brightness</mat-icon>
    settings_cell<mat-icon>settings_cell</mat-icon>
    settings_ethernet<mat-icon>settings_ethernet</mat-icon>
    settings_input_antenna<mat-icon>settings_input_antenna</mat-icon>
    settings_input_component<mat-icon>settings_input_component</mat-icon>
    settings_input_composite<mat-icon>settings_input_composite</mat-icon>
    settings_input_hdmi<mat-icon>settings_input_hdmi</mat-icon>
    settings_input_svideo<mat-icon>settings_input_svideo</mat-icon>
    settings_overscan<mat-icon>settings_overscan</mat-icon>
    settings_phone<mat-icon>settings_phone</mat-icon>
    settings_power<mat-icon>settings_power</mat-icon>
    settings_remote<mat-icon>settings_remote</mat-icon>
    settings_system_daydream<mat-icon>settings_system_daydream</mat-icon>
    settings_voice<mat-icon>settings_voice</mat-icon>
    share<mat-icon>share</mat-icon>
    shop<mat-icon>shop</mat-icon>
    shop_two<mat-icon>shop_two</mat-icon>
    shopping_basket<mat-icon>shopping_basket</mat-icon>
    shopping_cart<mat-icon>shopping_cart</mat-icon>
    short_text<mat-icon>short_text</mat-icon>
    show_chart<mat-icon>show_chart</mat-icon>
    shuffle<mat-icon>shuffle</mat-icon>
    signal_cellular_4_bar<mat-icon>signal_cellular_4_bar</mat-icon>
    signal_cellular_connected_no_internet_4_bar<mat-icon>signal_cellular_connected_no_internet_4_bar</mat-icon>
    signal_cellular_no_sim<mat-icon>signal_cellular_no_sim</mat-icon>
    signal_cellular_null<mat-icon>signal_cellular_null</mat-icon>
    signal_cellular_off<mat-icon>signal_cellular_off</mat-icon>
    signal_wifi_4_bar<mat-icon>signal_wifi_4_bar</mat-icon>
    signal_wifi_4_bar_lock<mat-icon>signal_wifi_4_bar_lock</mat-icon>
    signal_wifi_off<mat-icon>signal_wifi_off</mat-icon>
    sim_card<mat-icon>sim_card</mat-icon>
    sim_card_alert<mat-icon>sim_card_alert</mat-icon>
    skip_next<mat-icon>skip_next</mat-icon>
    skip_previous<mat-icon>skip_previous</mat-icon>
    slideshow<mat-icon>slideshow</mat-icon>
    slow_motion_video<mat-icon>slow_motion_video</mat-icon>
    smartphone<mat-icon>smartphone</mat-icon>
    smoke_free<mat-icon>smoke_free</mat-icon>
    smoking_rooms<mat-icon>smoking_rooms</mat-icon>
    sms<mat-icon>sms</mat-icon>
    sms_failed<mat-icon>sms_failed</mat-icon>
    snooze<mat-icon>snooze</mat-icon>
    sort<mat-icon>sort</mat-icon>
    sort_by_alpha<mat-icon>sort_by_alpha</mat-icon>
    spa<mat-icon>spa</mat-icon>
    space_bar<mat-icon>space_bar</mat-icon>
    speaker<mat-icon>speaker</mat-icon>
    speaker_group<mat-icon>speaker_group</mat-icon>
    speaker_notes<mat-icon>speaker_notes</mat-icon>
    speaker_notes_off<mat-icon>speaker_notes_off</mat-icon>
    speaker_phone<mat-icon>speaker_phone</mat-icon>
    spellcheck<mat-icon>spellcheck</mat-icon>
    star<mat-icon>star</mat-icon>
    star_border<mat-icon>star_border</mat-icon>
    star_half<mat-icon>star_half</mat-icon>
    stars<mat-icon>stars</mat-icon>
    stay_current_landscape<mat-icon>stay_current_landscape</mat-icon>
    stay_current_portrait<mat-icon>stay_current_portrait</mat-icon>
    stay_primary_landscape<mat-icon>stay_primary_landscape</mat-icon>
    stay_primary_portrait<mat-icon>stay_primary_portrait</mat-icon>
    stop<mat-icon>stop</mat-icon>
    stop_screen_share<mat-icon>stop_screen_share</mat-icon>
    storage<mat-icon>storage</mat-icon>
    store<mat-icon>store</mat-icon>
    store_mall_directory<mat-icon>store_mall_directory</mat-icon>
    straighten<mat-icon>straighten</mat-icon>
    streetview<mat-icon>streetview</mat-icon>
    strikethrough_s<mat-icon>strikethrough_s</mat-icon>
    style<mat-icon>style</mat-icon>
    subdirectory_arrow_left<mat-icon>subdirectory_arrow_left</mat-icon>
    subdirectory_arrow_right<mat-icon>subdirectory_arrow_right</mat-icon>
    subject<mat-icon>subject</mat-icon>
    subscriptions<mat-icon>subscriptions</mat-icon>
    subtitles<mat-icon>subtitles</mat-icon>
    subway<mat-icon>subway</mat-icon>
    supervisor_account<mat-icon>supervisor_account</mat-icon>
    surround_sound<mat-icon>surround_sound</mat-icon>
    swap_calls<mat-icon>swap_calls</mat-icon>
    swap_horiz<mat-icon>swap_horiz</mat-icon>
    swap_vert<mat-icon>swap_vert</mat-icon>
    swap_vertical_circle<mat-icon>swap_vertical_circle</mat-icon>
    switch_camera<mat-icon>switch_camera</mat-icon>
    switch_video<mat-icon>switch_video</mat-icon>
    sync<mat-icon>sync</mat-icon>
    sync_disabled<mat-icon>sync_disabled</mat-icon>
    sync_problem<mat-icon>sync_problem</mat-icon>
    system_update<mat-icon>system_update</mat-icon>
    system_update_alt<mat-icon>system_update_alt</mat-icon>
    tab<mat-icon>tab</mat-icon>
    tab_unselected<mat-icon>tab_unselected</mat-icon>
    tablet<mat-icon>tablet</mat-icon>
    tablet_android<mat-icon>tablet_android</mat-icon>
    tablet_mac<mat-icon>tablet_mac</mat-icon>
    tag_faces<mat-icon>tag_faces</mat-icon>
    tap_and_play<mat-icon>tap_and_play</mat-icon>
    terrain<mat-icon>terrain</mat-icon>
    text_fields<mat-icon>text_fields</mat-icon>
    text_format<mat-icon>text_format</mat-icon>
    textsms<mat-icon>textsms</mat-icon>
    texture<mat-icon>texture</mat-icon>
    theaters<mat-icon>theaters</mat-icon>
    thumb_down<mat-icon>thumb_down</mat-icon>
    thumb_up<mat-icon>thumb_up</mat-icon>
    thumbs_up_down<mat-icon>thumbs_up_down</mat-icon>
    time_to_leave<mat-icon>time_to_leave</mat-icon>
    timelapse<mat-icon>timelapse</mat-icon>
    timeline<mat-icon>timeline</mat-icon>
    timer<mat-icon>timer</mat-icon>
    timer_10<mat-icon>timer_10</mat-icon>
    timer_3<mat-icon>timer_3</mat-icon>
    timer_off<mat-icon>timer_off</mat-icon>
    title<mat-icon>title</mat-icon>
    toc<mat-icon>toc</mat-icon>
    today<mat-icon>today</mat-icon>
    toll<mat-icon>toll</mat-icon>
    tonality<mat-icon>tonality</mat-icon>
    touch_app<mat-icon>touch_app</mat-icon>
    toys<mat-icon>toys</mat-icon>
    track_changes<mat-icon>track_changes</mat-icon>
    traffic<mat-icon>traffic</mat-icon>
    train<mat-icon>train</mat-icon>
    tram<mat-icon>tram</mat-icon>
    transfer_within_a_station<mat-icon>transfer_within_a_station</mat-icon>
    transform<mat-icon>transform</mat-icon>
    translate<mat-icon>translate</mat-icon>
    trending_down<mat-icon>trending_down</mat-icon>
    trending_flat<mat-icon>trending_flat</mat-icon>
    trending_up<mat-icon>trending_up</mat-icon>
    tune<mat-icon>tune</mat-icon>
    turned_in<mat-icon>turned_in</mat-icon>
    turned_in_not<mat-icon>turned_in_not</mat-icon>
    tv<mat-icon>tv</mat-icon>
    unarchive<mat-icon>unarchive</mat-icon>
    undo<mat-icon>undo</mat-icon>
    unfold_less<mat-icon>unfold_less</mat-icon>
    unfold_more<mat-icon>unfold_more</mat-icon>
    update<mat-icon>update</mat-icon>
    usb<mat-icon>usb</mat-icon>
    verified_user<mat-icon>verified_user</mat-icon>
    vertical_align_bottom<mat-icon>vertical_align_bottom</mat-icon>
    vertical_align_center<mat-icon>vertical_align_center</mat-icon>
    vertical_align_top<mat-icon>vertical_align_top</mat-icon>
    vibration<mat-icon>vibration</mat-icon>
    video_call<mat-icon>video_call</mat-icon>
    video_label<mat-icon>video_label</mat-icon>
    video_library<mat-icon>video_library</mat-icon>
    videocam<mat-icon>videocam</mat-icon>
    videocam_off<mat-icon>videocam_off</mat-icon>
    videogame_asset<mat-icon>videogame_asset</mat-icon>
    view_agenda<mat-icon>view_agenda</mat-icon>
    view_array<mat-icon>view_array</mat-icon>
    view_carousel<mat-icon>view_carousel</mat-icon>
    view_column<mat-icon>view_column</mat-icon>
    view_comfy<mat-icon>view_comfy</mat-icon>
    view_compact<mat-icon>view_compact</mat-icon>
    view_day<mat-icon>view_day</mat-icon>
    view_headline<mat-icon>view_headline</mat-icon>
    view_list<mat-icon>view_list</mat-icon>
    view_module<mat-icon>view_module</mat-icon>
    view_quilt<mat-icon>view_quilt</mat-icon>
    view_stream<mat-icon>view_stream</mat-icon>
    view_week<mat-icon>view_week</mat-icon>
    vignette<mat-icon>vignette</mat-icon>
    visibility<mat-icon>visibility</mat-icon>
    visibility_off<mat-icon>visibility_off</mat-icon>
    voice_chat<mat-icon>voice_chat</mat-icon>
    voicemail<mat-icon>voicemail</mat-icon>
    volume_down<mat-icon>volume_down</mat-icon>
    volume_mute<mat-icon>volume_mute</mat-icon>
    volume_off<mat-icon>volume_off</mat-icon>
    volume_up<mat-icon>volume_up</mat-icon>
    vpn_key<mat-icon>vpn_key</mat-icon>
    vpn_lock<mat-icon>vpn_lock</mat-icon>
    wallpaper<mat-icon>wallpaper</mat-icon>
    warning<mat-icon>warning</mat-icon>
    watch<mat-icon>watch</mat-icon>
    watch_later<mat-icon>watch_later</mat-icon>
    wb_auto<mat-icon>wb_auto</mat-icon>
    wb_cloudy<mat-icon>wb_cloudy</mat-icon>
    wb_incandescent<mat-icon>wb_incandescent</mat-icon>
    wb_iridescent<mat-icon>wb_iridescent</mat-icon>
    wb_sunny<mat-icon>wb_sunny</mat-icon>
    wc<mat-icon>wc</mat-icon>
    web<mat-icon>web</mat-icon>
    web_asset<mat-icon>web_asset</mat-icon>
    weekend<mat-icon>weekend</mat-icon>
    whatshot<mat-icon>whatshot</mat-icon>
    widgets<mat-icon>widgets</mat-icon>
    wifi<mat-icon>wifi</mat-icon>
    wifi_lock<mat-icon>wifi_lock</mat-icon>
    wifi_tethering<mat-icon>wifi_tethering</mat-icon>
    work<mat-icon>work</mat-icon>
    wrap_text<mat-icon>wrap_text</mat-icon>
    youtube_searched_for<mat-icon>youtube_searched_for</mat-icon>
    zoom_in<mat-icon>zoom_in</mat-icon>
    zoom_out<mat-icon>zoom_out</mat-icon>
    zoom_out_map<mat-icon>zoom_out_map</mat-icon>
    
    
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

