<mat-card class="logincard">
  <mat-card-header>
    <mat-card-title>
      <h1>
        <mat-icon>mail</mat-icon> 登录邮盘</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-form-field>
    <mat-icon matPrefix>account_box</mat-icon>
    <input matInput placeholder="用户名" [matAutocomplete]="auto"  [(ngModel)]="account.username" required>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option>输入新用户名</mat-option>
      <mat-option *ngFor="let item of userList" [value]="item.username">
        {{ item.username }}
      </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix (click)="username = ''">clear</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="请输入密码" [type]="hide ? 'password' : 'text'" [(ngModel)]="account.password" required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-icon matPrefix>lock</mat-icon>
  </mat-form-field>

  <mat-card-actions>
    <button mat-button (click)="signin()">登录</button> or <button mat-button (click)="signup()" >注册</button>
  </mat-card-actions>
</mat-card>